main{
    flex-direction: column;
    display: flex;
    gap: 40px;
}

.top-message{
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.status-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    height: 100%;
    position: relative;
}

.status-check img{
    height: 50%;
}

/* ---------------------------- INÍCIO - DASHBOARD ---------------------------- */

.dashboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #e5d0d0;
}

.box h2 {
    text-align: center;
    font-size: 27px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

:is(.box) table, th, td, thead {
    height: 47px;
    font-size: 15px;
    text-align: center;
    border: #00000021 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 1px solid #000;
}

.table-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

tr {
    height: 30px;
}
td{
    width: 100px;
}
/* ---------------------------- FIM - DASHBOARD ---------------------------- */

/* ---------------------------- INICIO - MODAL ---------------------------- */
.modal{
    position: absolute;
    background-color: #e7e7e7;
    height: 200px;
    width: 200px;
    z-index: 1;
}

.modal, .modal-input{
    display: flex;
}
/* ---------------------------- FIM - MODAL ---------------------------- */
