*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ececec;
}

button{
    user-select: none;
}

img{
    user-select: none;
}

:hover{
    transition: 300ms;
}

/* ---------------------------- ÃNICIO - ASIDE ---------------------------- */
.side-bar{
    background-color: #7e90a6;
    width: 200px;
    height: 100vh;
    position: fixed;
}

.logo{
    width: 100%;
}

.logo > img{
    width: inherit;
}

.wrapper{
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wrapper > label{
    text-align: center;
    font-size: 20px;
}

#hello_message{
    text-transform: capitalize;
}

.menu-collapse {
    background-color: #c6bfbf;
    text-align: start;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    font-size: 15px;
    position: relative;
}

.menu-collapse:hover{
    background-color: #9b9292;
}

.menu-collapse > img {
    --height: 35px;
    position: absolute;
    height: var(--height);
    width: auto;
    left: calc(100% - var(--height));
    top: calc(100% - var(--height));
    transform: rotate(90deg);
    transition: 600ms;
}

.list-collapse{
    height: 200px;
    overflow-y: auto;
    background-color: #96b9fc;
    transition: 500ms;
}

.list-collapse > li{
    padding: 5px 30px;
}

.list-collapse > li:hover{
    background-color: #6f8fc9;
    cursor: pointer;
    user-select: none;
}

#exit{
    --heigth: 50px;
    background-color: #f24742;
    border: none;
    height: var(--heigth);
    width: 100%;
    font-size: 20px;
    position: absolute;
    top: calc(100% - var(--heigth));
    cursor: pointer;
}

#exit:hover{
    background-color: #ac2b27;
}
/* ---------------------------- FIM - ASIDE ---------------------------- */
