
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #ececec;
}

button{
    user-select: none;
}

img{
    user-select: none;
}

li{
    list-style-type: none;
}



:hover{
    transition: 300ms;
}


/* ---------------------------- INÍCIO - LEFT ASIDE ---------------------------- */
.l-side-bar{
    background-color: #7e90a6;
    width: 100vw;
    height: 15vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 150px;
   
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}

.wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.wrapper > label{
    text-align: center;
    font-size: 20px;
}

.hello , #hello-message{
    font: 500 1.35rem "Inria Sans";
    
}
.hello{
    display: none;
}
.link-pages{
    width: 100%;
    text-align: center;
    font-size: 20px;
    gap: 20px;
}
.link-pages li{
    margin-top: 10px;
    font: 500 1.15rem "Inria Sans";
}
.link-pages :is(a, li){
    width: 100%;
}

.menu-collapse {
    background-color: #c6bfbf;
    text-align: start;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    font-size: 15px;
    position: relative;
}

.menu-collapse:hover{
    background-color: #9b9292;
}

.btn-arrow {
    height: 25px;
    position: absolute;
    transform: rotate(90deg);
    transition: 600ms;
    right: 1rem;
}

.list-collapse{
    height: 0px;
    overflow-y: auto;
    background-color: #96b9fc;
    transition: 500ms;
}

.list-collapse > li{
    padding: 5px 30px;
}

.list-collapse > li:hover{
    background-color: #6f8fc9;
    cursor: pointer;
    user-select: none;
}

#exit{
    height: 50px;
    background-color: #f24742;
    border: none;
   left: 0;
    width: 100%;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

#exit:hover{
    background-color: #ac2b27;
}
/* ---------------------------- FIM - LEFT ASIDE ---------------------------- */


/* ---------------------------- INÍCIO - RIGHT ASIDE ---------------------------- */
.r-side-bar{
    padding-top:15vh;
    background-color: #d9d9d9;
    width: 100vw;
}

.new-func {
    background-color: #7e90a6;
    width: 100%;
    height: 45px;
    border: none;
    margin: 40px 0 0 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 0 0 10px;
}

.new-func img{
    transform: rotate(45deg);
}

.iconx{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 35px;
    cursor: pointer;
}
.iconMenu{
    width: 35px;
    margin-top: 10px;
}

/* ---------------------------- FIM - RIGHT ASIDE ---------------------------- */

@media (min-width: 992px) {
    .l-side-bar{
        width: 300px;
        height: 100vh;
        align-items:flex-start;
    }
    .logo{
        width: 250px;

    }
    .iconx {
        display: none;
    }
    .hello{
        display: block;
    }
    .wrapper{
        flex-direction: column;
        gap: 30px;
        margin-top: 3rem;
    }
    nav{
        display: block;
      
    }
    .iconMenu{
        display: none;
    }
    nav ul{
        margin-top: 5rem;
    }

    .r-side-bar{
        background-color: #d9d9d9;
        --width: 200px;
        width: var(--width);
        height: 9   0vh;
        position: fixed;
        bottom: 0;
        left: calc(100% - var(--width));
        padding: 0;
    }
}