/* Configurações de Fonte, Body e Transição do HTML */

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Jost&display=swap');

body{
    margin: 0;
    background-color: #ffffff;
}

html{
    scroll-behavior: smooth;
}

.wave{
    aspect-ratio: 960/120;
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #5b88c0;
} 

::-webkit-scrollbar-thumb {
    background: #0a2342;
}

/* Tirando a seta do input:number no Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Tirando a seta do input:number no Firefox*/
input[type=number] {
    -moz-appearance: textfield;
}
/* Fim Configurações */

/* Criação Container */

.container{
    display: flex;
    width: 90%;
    flex-direction: column;
}

/* Inicio Menu */

.navbar{
    position: sticky;
    top: 0px;
    background-color: #f1f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    border-bottom: 2px solid #0a2342;
}

.navbar .container{
    justify-content: space-around;
    flex-direction: column;
}


.menu-inferior{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    width: 90%;

    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.nav-item{
    margin-right: 50px;
    margin-top: 10px;
}

.cont-esq{
    display: flex;
}

.cont-mei{
    display: flex;
    flex-direction: row;
}

.cont-dir{
    display: flex;
    align-items: center;
}
.cont-dir a{
    color: #0a2342;
    font: 700 1.15rem "Inria Sans";
}
.cont-dir a:hover{
    color: #fff;
}
.nav-item a{
    color: #0a2342;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Inria Sans';
}

.btn-download{
    height: 40px;
    width: 140px;
    background-color: #f1f0f0;
    border: 3px solid #0a2342;
    border-radius: 5px;
    color: #0a2342;
    font-weight: bold;
    font-size: 1.4vw;
    font-family: 'Inria Sans';
    transition: .2s;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-download:hover{
    background-color: #0a2342;
    border: 3px solid #0a2342;
    border-radius: 5px;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 1.4vw;
    font-family: 'Inria Sans';
    cursor: pointer;
}

.icon-menu{
    display: none;
}

/* Fim Menu */

/* Inicio Banner */

.banner{
    background-image: url('../assets/imgs/call-center.jpeg');
    background-position: center;
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    /* border-bottom: 3px solid #EEC643; */
    flex-direction: row;
}
.frase-banner{
    margin: 0;
    margin-bottom: 12px;
    color: #0a2342;
    font-weight: bold;
    font-size: 2.5vw;
    font-family: 'Inria Sans';
    font-weight: bold;
}

.banner-esq{
    width: 50%;
}

.banner-dir{
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: center;
    background-image: url('../assets/imgs/wave-banner.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

/* Fim Banner */

/* Inicio Corpo Pagina */

.corpo{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

/* Inicio Seção de Cards do Software */

.area-cards{
    /* margin-top: 80px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    background-color: #0a2342;
    /* border-radius: 25px; */
    border-top: 3px solid #EEC643;
    /* border-bottom: 3px solid #EEC643; */
    align-items: center;
}

.cont-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}

.card{
    height: 300px;
    /* 30% */
    width: 100%;
    margin: 25px;
    border-radius: 5px;
    border: 3px solid #EEC643;
    background-color: #f1f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.area-cards h1{
    font-family: 'Jost';
    font-weight: 700;
    color: #EEC643;
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 12px;
    /* text-decoration: underline; */
}

.card img{
    height: 120px;
    width: auto;
}

.card h1{
    font-family: 'Inria Sans';
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.card p{
    font-family: 'Inria Sans';
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.curva-software {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/* Fim Seção de Cards do Software */

/* Inicio Sobre Empresa */

.area-empresa{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
    width: 90%;
    margin-bottom: 50px;
}

.area-empresa .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.empresa-esq{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.empresa-dir{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: auto;
    /* background-color: #f1f0f0; */
    border-radius: 25px;
    /* border-top: 2px solid #000;
    border-bottom: 2px solid #000; */
    text-align: center;
}

.empresa-esq img{
    width: 250px;
}

.empresa-dir h1{
    color: #0a2342;
    font-family: 'Jost';
    font-weight: 700;
    text-align: center;
    font-size: 42px;
    /* text-decoration: underline; */
    margin-top: 0;
}

.empresa-dir p{
    /* margin-left: 150px; */
    color: #000;
    font-family: 'Inria Sans';
    font-size: 16px;
    /* margin-right: 150px; */
    /* text-align: justify; */
    padding-left: 15%;
    padding-right: 15%;
}

/* Fim Sobre Empresa */

/* Inicio Requisitos */

.area-requisitos{
    display: flex;
    flex-direction: column;
    background-color: #0a2342;
    width: 100%;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;
}

.req-titulo{
    font-family: 'Jost';
    font-weight: 700;
    color: #EEC643;
    font-size: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-decoration: underline; */
    text-align: center;
}

.req-texto{
    color: #f1f0f0;
    font-family: 'Inria Sans';
    text-align: center;
    font-size: 1.25rem;
}

.cards-requisitos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
   
}
.cards-requisitos h1{
    font-size: 23px;
    font-family: 'Inria Sans';
  
}

.cards-requisitos img{
    width: 15%;
    height: auto;
}

/* Inicio Teste Blob */

.div-blob{
    background-image: url('../assets/imgs/blob.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-blob h1{
    font-family: 'Jost';
}

/* Fim Teste Blob */

.requisitos-esq{
    display: flex;
    flex-direction: column;
    background-color: #f1f0f0;
    height: auto;
    width: 38vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #EEC643;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}



.lista-req-min{
    list-style: none;
    padding: 0;
}

.li-lista-min{
    font-family: 'Inria Sans';
    text-align: center;
}

.requisitos-mei{
    width: 3px;
    height: auto;
    background-color: #EEC643;
    border-radius: 10px;
}

.requisitos-dir{
    display: flex;
    flex-direction: column;
    background-color: #f1f0f0;
    height: auto;
    width: 38vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #EEC643;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.lista-req-rec{
    list-style: none;
    padding: 0;
}

.li-lista-rec{
    font-family: 'Inria Sans';
    text-align: center;
}

/* Fim Requisitos */

/* Inicio Area Contato */

.area-contato{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.area-contato .container{
    flex-direction: column;
    justify-content: space-around;
}

.contato-esq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.contato-esq img{
    width: 25px;
}


.contato-dir{
    /* border: 3px solid #EEC643; */
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.telefone, .email , .localizacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
}



.contato-dir img{
    height: 30px;
    width: auto;
}

.contato-esq p{
    color: #0a2342;
    font-family: 'Jost';
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
}

.area-contato h1{
    font-family: 'Jost';
    font-weight: bold;
    color: #0a2342;
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 12px;
    /* text-decoration: underline; */
}

.mapa{
    width: auto;
}

/* Fim Area Contato */

/* Fim Corpo Página */

/* Inicio Tela Cadastro */

.corpo-cadastro{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cadastro-esq{
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: center;
    margin-left: 50px;
    display: none;
}

.cadastro-dir{
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-cadastro{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    /* justify-content: center; */
}
.n{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    /* justify-content: center; */
}

.cadastro-dir h1{
    font-family: 'Inria Sans';
    font-weight: 700;
    color: #0a2342;
    font-size: 42px;
    margin-bottom: 0;
}

.cadastro-dir p{
    font-family: 'Jost';
    color: #444444;
    font-size: 18px;
}

.cadastro-dir label{
    font-family: 'Jost';
    font-weight: bold;
    font-size: 18px;
    color: #444444;
    margin-top: 16px;
}

.cadastro-dir input{
    background-color: #D9D9D9;
    /* padding: 15px; */
    height: 32px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.campo-senha{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.campo-senha input{
    width: 100%;
}

.div-senha{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: auto;
}

.cadastro-esq img{
    height: auto;
    width: 100%;
}

.form-cadastro button{
    background-color: #0a2342;
    color: #ffffff;
    width: 100%;
    border-radius: 20px;
    font-family: 'Jost';
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #0a2342;
    margin-top: 20px;
}

.form-cadastro button:hover{
    background-color: #ffffff;
    color: #0a2342;
    border: 3px solid #0a2342;
    cursor: pointer;
}

.tag-a-cadastro-login{
    text-decoration: none;
    color: #5b88c0;
    font-weight: bold;
}


.tag-a-cadastro-login:hover{
    transition: 0.7s;
    color: #b89934;
}

.linha-botao{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.linha-botao button{
    width: 45%;
}

.dados-quem{
    font-weight: bold;
    font-size: 24px !important;
    color: #0a2342 !important;
}

#dados_usuario{
    display: none;
}

#dados_empresa{
    display: flex;
    flex-direction: column;
}

/* Fim Tela Cadastro */

/* Inicio Footer/Rodapé */

footer{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0a2342;
    justify-content: start;
    align-items: center;
}

footer .container{
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer h1{
    margin: 0;
    color: #f1f0f0;
    font-family: 'Inria Sans';
    font-size: 20px;
}

.dropdown{
    display: flex;
    flex-direction: column;
}


    .icon-menu {
        display: block;
    }

    .navbar{
        height: 120px;
    }

    .navbar img.logo-menu{
        width:  200px;
      
    }
    .navbar .icon-menu{
        width: 50px;
    }

    .navbar .cont-mei{
        display: none;
    }

    .navbar button{
        display: none;
    }

    .navbar .container{
        align-items: center;
    }

  

  

   

    /* inicio area banner */

    .banner{
        height: 320px;
    }

    .banner-esq{
        width: 15%;
    }

    .banner-dir{
        display: flex;
        width: 85%;
        align-items: flex-end;
        justify-content: center;
        background-image: url('../assets/imgs/wave-banner.svg');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .frase-banner{
        font-size: 4vw;
    }

    /* fim area banner */

    .area-cards{
        height: auto;
        text-align: center;
    }

    .area-cards h1{
        font-size: 28px;
    }


    .card{
        padding-top: 40px;
        padding-bottom: 40px;
        width: 70%;
        border-radius: 50px;
    }
    
    .card p{
        font-size: 14px;
        text-align: center;
    }

    .card h1{
        font-size: 24px;
    }

    .card img{
        height: 80px;
        width: auto;
    }


    /* Inicio Area Requisitos */


    .req-titulo{
        font-size: 28px;
    }

    .req-texto{
        font-size: 1.25rem;
    }

    .requisitos-esq{
        width: 80%;
        margin-bottom: 10px;
    }

    .requisitos-mei{
        width: 80%;
        height: 3px;
    }

    .requisitos-dir{
        width: 80%;
        margin-top: 10px;
    }

    .li-lista-min{
        font-size: 14px;
        font-weight: bold;
    }

    .li-lista-rec{
        font-size: 14px;
        font-weight: bold;
    }

    /* Fim Area Requisitos */


    footer{
        text-align: center;
    }

    footer h1{
        font-size: 12px;
    }

    .dropdown{
        display: none;
    }

    .menu-aberto{
        height: 275px;
    }

    /* Tela Cadastro */

    .dropcadastro{
        display: none;
    }



    .cadastro-dir{
        width: 100%;
    }

    .cadastro-dir label{
        font-size: 14px;
    }

    .campo-senha{
        flex-direction: column;
    }

    .div-senha{
        width: 100%;
    }

    .campo-senha{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .div-senha{
        display: flex;
        flex-direction: column;
        width: 47%;
        height: auto;
    }

    .icon-menu {
        display: block;
    }

    .navbar{
        height: 120px;
    }

   

    .navbar .cont-mei{
        display: none;
    }

    .navbar button{
        display: none;
    }

    .navbar .container{
        align-items: center;
    }

  

 
   

    /* inicio area banner */

    .banner{
        height: 350px;
    }

    .banner-esq{
        width: 15%;
    }

    .banner-dir{
        display: flex;
        width: 85%;
        align-items: flex-end;
        justify-content: center;
        background-image: url('../assets/imgs/wave-banner.svg');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .frase-banner{
        font-size: 3.20vw;
    }

    /* fim area banner */

    .area-cards{
        height: auto;
        text-align: center;
    }

    .area-cards h1{
        font-size: 28px;
    }



    /* Inicio Area Contato */

    .area-contato{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .area-contato .container{
        flex-direction: column;
        justify-content: space-around;
    }


    .telefone{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .email{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .contato-dir img{
        height: 20px;
        width: auto;
    }

    .contato-dir p{
        font-family: 'Jost';
        font-size: 20px;
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 20px;
    }

    .area-contato h1{
        font-family: 'Jost';
        font-weight: bold;
        color: #0a2342;
        font-size: 36px;
        padding-top: 20px;
        padding-bottom: 12px;
        /* text-decoration: underline; */
    }

    /* Fim Area Contato */

    footer{
        text-align: center;
    }

    footer h1{
        font-size: 12px;
    }

    .dropdown{
        display: none;
    }

    .menu-aberto{
        height: 275px;
    }

    /* Tela Cadastro */

    .dropcadastro{
        display: none;
    }

 

    .cadastro-dir{
        width: 100%;
    }

    .campo-senha{
        flex-direction: column;
    }

    .div-senha{
        width: 100%;
    }

    .campo-senha{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .div-senha{
        display: flex;
        flex-direction: column;
        width: 47%;
        height: auto;
    }



@media (min-width: 992px) {
    
    .banner{
        justify-content: end;
    }
    
    .icon-menu{
        display: none;
    }
    .nav-item{
        margin-top: 0;
    }
    .menu-inferior{
        width: 100%;
        height: 50px;
    }
    .navbar .cont-mei{
        display: block;
    }

    .navbar button{
        display: block;
    }

    .navbar .container{
        align-items: center;
    }


    /* inicio area banner */

    .banner-dir{
        display: flex;
        width: 80%;
        align-items: flex-end;
        justify-content: center;
        background-image: url('../assets/imgs/wave-banner.svg');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .frase-banner{
        font-size: 3.25vw;
    }

    /* fim area banner */

    .area-cards{
        height: auto;
    }

    .area-cards h1{
        font-size: 42px;
    }

    .cont-cards{
        flex-direction: row;
        height: auto;
        align-items: center;
        width: 90%;
    }

    .card{
        padding-top: 60px;
        padding-bottom: 60px;
        width: 70%;
        border-radius: 50px;
    }
    
    .card p{
        font-size: 18px;
        text-align: center;
    }

    .card h1{
        font-size: 28px;
    }

 

    .area-empresa .container{
        flex-direction: row;
    }

    .area-empresa img{
        width: 80%;
       
    }

    .area-empresa h1{
        font-size: 28px;
    }

    .area-empresa p{
        font-size: 18px;
        padding: 0;
        text-align: center;
    }
    .empresa-dir{
        width: 50%;
        margin-top: 0;
    }
    /* Inicio Area Requisitos */

    .cards-requisitos{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .cards-requisitos h1{
        font-size: 28px;
    }


    .requisitos-mei{
       display: none;
    }
    .requisitos-dir, .requisitos-esq{
        margin-bottom: 0;
        margin-top: 0;
        width: 40vw;
    }
  

    .li-lista-min{
        font-size: 26px;
        font-weight: bold;
    }

    .li-lista-rec{
        font-size: 26px;
        font-weight: bold;
    }

    /* Fim Area Requisitos */

    .contato-dir{
        width: 80%;
        align-items: center;
    }

    .mapa{
        width: 100%;
    }
 

    /* Inicio Area Contato */

    .area-contato{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .area-contato .container{
        flex-direction: row;
        justify-content: space-around;

    }
    .mapa{
        width: 80%;
    }
    .contato-esq{
        width: 80%;
        height: auto;

    }

    .telefone{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .email{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .contato-dir{

    border-left:solid 3px #0a2342;
    }
    .contato-dir img{
        height: 30px;
        width: auto;
    }

    .contato-dir p{
        font-family: 'Jost';
        font-size: 30px;
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 20px;
    }

    .area-contato h1{
        font-family: 'Jost';
        font-weight: bold;
        color: #0a2342;
        font-size: 42px;
        padding-top: 20px;
        padding-bottom: 12px;
        /* text-decoration: underline; */
    }

    /* Fim Area Contato */

    footer h1{
        font-size: 18px;
    }

    .cadastro-dir label{
        font-size: 18px;
    }
    .cadastro-esq{
        display: flex;
    }
    #dropdown{
        display: none;
        visibility: hidden;
    }
    .menu-aberto{}
}